.logoPortafolio{
    width: 100px;
}

.navColor{
    background-color: rgb(4, 85, 4);
}

.seccion_1{
    padding: 50px 0;
}

.introCV{
    margin: 0 auto;
    width: 80%;
}

.seccion1_parrafo{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    color: white;
}

.seccion1_imagen{
    display: inline-block;
    vertical-align: middle;
    width: 35%;
    padding-left: 120px;
}

.p_seccion1 {
    font-size: 16px;
}